{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block grid %}
    {% for msg in msgs %}
        <p>{{ msg }}</p>
    {% endfor msg %}
<table style="width:100%">
    {% for row in rows %}
    <tr>
    {% for gift in row %}
      <td>
        {% if gift.url %}
          <a href="{{ gift.url }}">{{ gift.display }}</a>
        {% else %}
          <strong>{{ gift.display }}</strong>
        {% endif %}
      </td>
    {% endfor gift %}
    </tr>
    {% endfor row %}
</table>
{% endblock grid %}
