{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block grid %}
    {% for msg in msgs %}
        <p>{{ msg }}</p>
    {% endfor msg %}
<table style="width:100%">
    <tr>
      <th> </th>
      <th>G</th>
      <th>R</th>
      <th>A</th>
      <th>S</th>
      <th>Mas</th>
    </tr>
    {% for row in rows %}
    <tr>
    {% for gift in row %}
      <td>
          <a href="{{ "/show_gift" }}">{{ gift.0 }}</a>
      </td>
    {% endfor gift %}
    </tr>
    {% endfor row %}
</table>
{% endblock grid %}
