{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block grid %}
<div class="grid">
<table style="width:100%">
    <tr>
      <th>"G"</th>
      <th>"R"</th>
      <th>"A"</th>
      <th>"S"</th>
      <th>"M"</th>
    </tr>
    <tr>
    {% for gift in gift_list %}
      <td>{{ gift.title }}</td>
      {% if forloop.counter|divisibleby:5 %}
    </tr>
    <tr>
      {% endif %}
      {% if forloop.last %}
  </tr>
      {% endif %}
    {% endfor gift %}
{% endblock grid %}
</table>
</div>