{% extends "base.html" %}

{% block content %}

<div class="form-group container border">
<h1>Hello, {{ user.username|default:'Guest' }}!</h1>
    {% if user.is_authenticated %}
     <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="file" name="myfile">
        <button type="submit" class="btn btn-primary">Upload</button>
        <a href="{% url 'show' %}" class="btn btn-warning">Cancel</a>
     </form>
        {% if url %}
        <p>File uploaded at: <a href="{{ url }}">{{ url }}</a></p>
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% endif %}
</div>



{% endblock content %}
