{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
  {% if user.is_superuser %}
<div class="row">
<div class="col-lg-3">
<p>{{ players }}</p>
</div>

<div class="col-lg-6">

<div class="text-center">
    {% for msg in msgs %}
<p><strong>{{ msg }}</strong></p>
    {% endfor msg %}
</div>
<table style="width:100%">
    {% for row in rows %}
    <tr>
    {% for gift in row %}
      <td class="text-center">
        {% if gift.location %}
          {% if gift.open %}
          <div><strong>{{ gift.owner }}'s</strong></div>
            <a href="/present/{{ gift.location }}">
              <img src={{ gift.photo }}
                   alt="{{ gift.display }}"
                   style="width:80px;height:80px;"
                   class="img-responsive"
              >
            </a>
          {% else %}
            <a href="/present/{{ gift.location }}">
              <img src="/static/boxes/{{ gift.color }}.png"
                   alt="{{ gift.display }}"
                   style="width:150px;height:150px;"
                   class="img-responsive"
              >
            </a>
          {% endif %}
        {% else %}
          <h2>{{ gift.display }}</h2>
        {% endif %}
      </td>
    {% endfor gift %}
    </tr>
    {% endfor row %}
</table>
</div>
</div>
<div clas="col-lg-3">

</div>
</div>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% endif %}
{% endblock content %}

