{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div class="col-lg-4 offset-lg-4 text-center">
  {% if user.is_superuser %}
    <h2>{{ message }}</h2>
    <h1>{{ gift.title }}</h1>
    <img class="d-block m-auto" src={{ gift.photo }} alt="{{ gift.display }}" style="width:600px;height:600px;">
    <h2>{{ gift.desc }}</h2>
    {% if stealing %}
      <a href="/board" class="btn btn-danger">Don't steal</a>
      <a href="/steal/{{ gift.location }}" class="btn btn-success">Steal it !!!</a>
    {% else %}
      <a href="/board" class="btn btn-primary">Continue</a>
    {% endif %}
  {% else %}
     <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
  {% endif %}
</div>
{% endblock %}
