{% extends "base.html" %}

{% block content %}
<div class="col-md-4 offset-md-4 text-center">
  {% if user.is_superuser %}
    {% for msg in msgs %}
        <p>{{ msg }}</p>
    {% endfor msg %}
    <h2>{{ message }}</h2>
    <h1>{{ gift.title }}</h1>
    <img src={{ gift.photo }} alt="{{ gift.display }}" style="width:600px;height:600px;">
    <h2>{{ gift.desc }}</h2>
    <a href="/board" class="btn btn-success">Steal</a>
    <a href="/board" class="btn btn-danger">No Steal</a>

  {% else %}
     <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
  {% endif %}
</div>
{% endblock %}
